POSTGRES_PASSWORD=root-root
DEV_DB_NAME=development
TEST_DB_NAME=test
PROD_DB_NAME=
DB_HOST=db
FRONTEND_URL='http://localhost:5173'
MAGIC_LINK_URL_BASE='http://localhost:3000'
APP_HOST=
MAILER_DOMAIN=
SENDGRID_USERNAME=apikey
SENDGRID_API_KEY=
