POSTGRES_PASSWORD=
DEV_DB_NAME=development
TEST_DB_NAME=test
PROD_DB_NAME=
DB_HOST=db
FRONTEND_URL=
MAGIC_LINK_URL_BASE=
APP_HOST=
APP_PROTOCOL=https
MAILER_DOMAIN=
SENDGRID_USERNAME=apikey
SENDGRID_API_KEY=
